body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #666666;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #3F586B;
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 167%;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

p, ol, ul {
	line-height: 170%;
}

p {
}

ol {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

ul li {
	padding-left: 15px;
	background: url(images/img07.gif) no-repeat 0px 7px;
}

blockquote {
	margin: 0;
	padding-left: 20px;
	font-style: italic;
}

blockquote * {
}

a {
	color: #FF5723;
}

a:hover {
	text-decoration: none;
	color: #1777B1;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 3px 15px 0 0;
}

img.right {
	float: right;
	margin: 3px 0 0 15px;
}

hr {
	display: none;
}

/* Header */

#header {
	width: 700px;
	height: 235px;
	margin: 0 auto;
	background: #A4C0C8 url(images/img02.jpg) no-repeat;
}

/* Logo */

#logo {
	height: 190px;
}

#logo h1, #logo h2 {
	text-align: center;
}

#logo h1 {
	padding-top: 40px;
	font-size: 350%;
}

#logo h2 {
	font-size: 150%;
}

#logo a {
	text-decoration: none;
	color: #3F586B;
}

/* Menu */

#menu {
	padding-top: 0;
}

#menu ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline;
	margin: 0;
	padding: 0;
}

#menu a {
	padding: 0 20px;
	text-decoration: none;
	font-size: 136%;
	font-weight: bold;
	color: #610720;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 730px;
	margin: 0 auto;
	padding: 30px 0;
}

/* Content */

#content {
	float: left;
	width: 420px;
	padding-top: 8px;
}

.twocols {
}

.twocols .title {
	padding-bottom: 10px;
	border-bottom: 1px solid #97C984;
}

.twocols .col1, .twocols .col2 {
	width: 190px;
}

.twocols .col1 {
	float: left;
}

.twocols .col2 {
	float: right;
}

.twocols ul {
}

.twocols ul li {
	padding-left: 0;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 260px;
}

.boxed {
	margin: 0 0 20px 0;
}

.boxed .title {
	width: 250px;
	height: 35px;
	margin: 0;
	padding: 10px 0 0 10px;
	background: #A8C3CB url(images/img03.jpg) no-repeat;
	font-size: 136%;
	color: #144B6B;
}

.boxed .content {
	padding: 20px;
	border: 1px solid #97C984;
	border-top: none;
}

.boxed h3 {
	margin: 0;
}

.boxed p, .boxed ul, .boxed ol {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.boxed ul {
}

.boxed ul li {
	padding: 8px 0 8px 10px;
	background: url(images/img04.gif) no-repeat 0px 13px;
}

.boxed ul li.first {
	border: none;
}

/* Search */

#search {
}

#search form {
	margin: 0;
	padding: 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search p {
	float: left;
	padding-top: 5px;
	font-size: 85%;
}

#searchinput {
	width: 210px;
	margin-bottom: 5px;
}

#searchsubmit {
	float: right;
}
